@font-face {
    font-family: Istok;
    font-display: swap;
    src: url(../fonts/IstokWeb-Bold.woff) format("woff"), url(../fonts/IstokWeb-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Bold;
    font-display: swap;
    src: url(../fonts/Poppins-Bold.woff) format("woff"), url(../fonts/Poppins-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Regular;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Medium;
    font-display: swap;
    src: url(../fonts/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins-Medium.woff2) format("woff2");
}

@font-face {
    font-family: Roboto-Bold;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto-Bold.woff2) format("woff2");
}

/* Стили для базовых элементов */
* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #FE9563;
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: Poppins-Bold, serif;
}

body {
    background: #fffcf5;
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* Стили для блока заголовка */
.header {
    background: #FFFBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 2px;
}

/* Стили для элементов и модификаторов внутри блока заголовка */
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.menu__list {
    display: flex;
    gap: 16px;
}

.menu__link {
    display: flex;
    gap: 5px;
}

.menu__nav-item {
    font-size: 14px;
}

.header__btn {
    border: 4px solid #FE9563;
    border-radius: 5px;
    padding: 7px 16px;
}

.header__btn:hover {
    border: 4px solid #000000;
    color: #000000;
}

.header__logo {
    display: flex;
    align-items: baseline;
}

.header__logo-title {
    color: #323232;
    font-family: Istok, serif;
    font-size: 28px;
}

.header__burger-menu {
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-image: url(../img/icons/header__burger-btn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FE9563;
}

@media (max-width: 1024px) {
    .header__wrap {
        width: 90%;
    }

    .menu__list {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1027px) {
    .menu__list-item {
        margin: 10px 0;
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid transparent;
    }

    .menu__list {
        transform: translateY(-300%);
        transition: all 0s;
        position: absolute;
        z-index: 5;
    }

    .menu__list--active {
        transform: translateY(0);
        transition: all .3s;
        flex-direction: column;
        align-items: center;
        top: 90px;
        background-color: #fff;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100vh;
    }

    .menu-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-image: url(../img/icons/header__burger-btn.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #FE9563;
    }

    .menu-btn.active {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-image: url(../img/icons/menu-btn__cross.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #FE9563;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo {
    width: 100%;
    height: 100%;
    background: url("../img/promo__bg-gradient.png") no-repeat center;
    background-size: cover;
}

.promo__bg {
    width: 1140px;
    margin: 0 auto;
    background: url("../img/icons/promo__bg-map.svg") no-repeat;
    background-position-x: center;
    padding-top: 60px;
    padding-bottom: 198px;
}

@media (max-width: 1400px) {
    .promo__bg {
        width: calc(100% - 40px)
    }
}


.promo__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
}

@media (max-width: 768px) {
    .promo__wrap {
        flex-direction: column-reverse;
    }
}

.promo__title {
    font-family: Poppins-Bold, serif;
    font-size: 42px;
    color: #455a64;
    padding-bottom: 16px;
    max-width: 414px;
    line-height: 126%;
}

.promo__text {
    font-family: Poppins-Medium, serif;
    font-size: 17px;
    color: #535359;
    padding-bottom: 26px;
    max-width: 449px;
}

.promo__links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.promo__btn-link {
    color: #f3fcff;
    font-size: 14px;
    background: #455a64;
    border-radius: 6px;
    padding: 9px 25px;
    font-family: Poppins-Bold, serif;
}

.promo__btn-link:hover {
    color: #455a64;
    background: #fe9563;
}

.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins-Bold, serif;
    font-size: 14px;
    line-height: 147%;
    border-radius: 8px;
}

.promo__link-text {
    font-family: Poppins-Bold, serif;
}

.promo__link {
    font-size: 14px;
    line-height: 147%;
    color: #455a64;
    display: flex;
    align-items: center;
    gap: 6px;
}

.promo__link:hover {
    color: #fe9563;
}

.promo__info {
    font-size: 12px;
    line-height: 147%;
    color: #455a64;
    display: flex;
}

.promo__info-item {
    font-family: Poppins-Bold, serif;
}

.promo__info-item:not(:first-child)::before {
    content: "";
    border-left: 2px solid #fe9c69;
    margin: 0 6px;
}

.features {
    padding-top: 88px;
    padding-bottom: 115px;
    max-width: 1215px;
    width: 100%
}

@media (max-width: 768px) {
    .features {
        padding-top: 0;
        padding-bottom: 50px
    }
}

.container {
    max-width: 1246px;
    padding: 0 20px;
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px
    }
}

.cards {
    display: flex;
    gap: 62px
}

@media (max-width: 1400px) {
    .cards {
        width: 100%;
        justify-content: space-between;
        gap: 20px
    }
}

@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px
    }
}

.card {
    width: 363px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 43px;
    border-radius: 44px;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
    box-shadow: 5px 5px 13px 0 #dd8762
}

@media (max-width: 1024px) {
    .card {
        width: 60%
    }
}

@media (max-width: 768px) {
    .card {
        width: 80%
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%
    }
}

.card__img-box {
    width: 76px;
    height: 76px;
    background-color: #fe9c69;
    display: flex;
    align-items: center;
    justify-content: center
}

.card__img-box--rounded {
    border-radius: 10px
}

.card__title {
    font-family: Roboto-Bold, serif;
    font-size: 18px;
    line-height: 147%;
    color: #37474f;
    padding-bottom: 10px;
    padding-top: 15px
}

.card__text {
    font-family: Poppins-Medium, serif;
    font-size: 17px;
    line-height: 147%;
    color: #535359;
    max-width: 290px;
    text-align: center
}

.share {
    margin-bottom: 115px
}

@media (max-width: 576px) {
    .share {
        margin-bottom: 50px
    }
}

.share__wrap {
    display: flex;
    align-items: center;
    gap: 96px
}

@media (max-width: 768px) {
    .share__wrap {
        flex-direction: column
    }
}

.share__img {
    max-width: 514px
}

.share__content {
    max-width: 457px
}

.share__title {
    color: #455A64;
    font-size: 42px;
    font-family: Poppins-Bold, serif;
    padding-bottom: 16px;
    line-height: 126%
}

.share__text {
    font-family: Poppins-Medium, serif;
    color: #535359;
    font-size: 17px;
    line-height: 148%;
}

.function {
    max-width: 1213px;
    margin-bottom: 141px;
}

@media (max-width: 576px) {
    .function {
        margin-bottom: 50px
    }
}

.function__wrap {
    display: flex;
    align-items: center;
    gap: 136px;
    border-radius: 48px;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
    box-shadow: 6px 6px 29px 0 #dd8762;
    padding: 134px 91px 179px;
}

@media (max-width: 1400px) {
    .function__wrap {
        padding: 30px;
        gap: 30px
    }
}

@media (max-width: 768px) {
    .function__wrap {
        flex-direction: column-reverse
    }
}

.function__content {
    max-width: 386px;
    display: grid;
    grid-template-columns: 57px auto;
    column-gap: 17px;
    row-gap: 21px
}

.function__img-box {
    flex-basis: 57px;
    height: 57px;
    background-color: #fe9563;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.function__caption {
    flex-basis: calc(100% - 57px)
}

.function__title {
    font-family: Poppins-Bold, serif;
    font-size: 17px;
    line-height: 148%;
    color: #37474f
}

.function__text {
    font-family: Poppins-Medium, serif;
    font-size: 16px;
    line-height: 148%;
    color: #535359
}

@media (max-width: 1024px) {
    .function__text {
        font-size: 15px
    }
}
