@font-face {
    font-family: Istok;
    font-display: swap;
    src: url(../fonts/IstokWeb-Bold.woff) format("woff"), url(../fonts/IstokWeb-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Bold;
    font-display: swap;
    src: url(../fonts/Poppins-Bold.woff) format("woff"), url(../fonts/Poppins-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Regular;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
}

@font-face {
    font-family: Poppins-Medium;
    font-display: swap;
    src: url(../fonts/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins-Medium.woff2) format("woff2");
}

@font-face {
    font-family: Roboto-Bold;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto-Bold.woff2) format("woff2");
}

@font-face {
    font-family: Roboto-Medium;
    font-display: swap;
    src: url(../fonts/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto-Medium.woff2) format("woff2");
}

/* Стили для базовых элементов */
* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #FE9563;
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: Poppins-Bold, serif;
}

body {
    background: #fffcf5;
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.title {
    font-family: Poppins-Bold, serif;
    font-size: 42px;
    line-height: 126%;
}

@media (max-width: 1024px) {
    .title {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 30px;
    }
}

/* Стили для блока заголовка */
.header {
    background: #FFFBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 2px;
}

/* Стили для элементов и модификаторов внутри блока заголовка */
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.menu__list {
    display: flex;
    gap: 16px;
}

.menu__link {
    display: flex;
    gap: 5px;
}

.menu__nav-item {
    font-size: 14px;
}

.main__btn {
    border: 4px solid #FE9563;
    border-radius: 5px;
    padding: 7px 16px;
}

.main__btn:hover {
    border: 4px solid #000000;
    color: #000000;
}

.header__logo {
    display: flex;
    align-items: baseline;
}

.header__logo-title {
    color: #323232;
    font-family: Istok, serif;
    font-size: 28px;
}

.header__burger-menu {
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-image: url(../img/icons/header__burger-btn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FE9563;
}

@media (max-width: 1024px) {
    .header__wrap {
        width: 90%;
    }

    .menu__list {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1027px) {
    .menu__list-item {
        margin: 10px 0;
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid transparent;
    }

    .menu__list {
        transform: translateY(-300%);
        transition: all 0s;
        position: absolute;
        z-index: 5;
    }

    .menu__list--active {
        transform: translateY(0);
        transition: all .3s;
        flex-direction: column;
        align-items: center;
        top: 90px;
        background-color: #fff;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100vh;
    }

    .menu-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-image: url(../img/icons/header__burger-btn.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #FE9563;
    }

    .menu-btn.active {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-image: url(../img/icons/menu-btn__cross.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #FE9563;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo {
    width: 100%;
    height: 100%;
    background: url("../img/promo__bg-gradient.png") no-repeat center;
    background-size: cover;
}

.promo__bg {
    width: 1140px;
    margin: 0 auto;
    background: url("../img/icons/promo__bg-map.svg") no-repeat;
    background-position-x: center;
    padding-top: 60px;
    padding-bottom: 198px;
}

@media (max-width: 1400px) {
    .promo__bg {
        width: calc(100% - 40px);
    }
}

.promo__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
}

@media (max-width: 768px) {
    .promo__wrap {
        flex-direction: column-reverse;
    }
}

.promo__title {
    font-family: Poppins-Bold, serif;
    font-size: 42px;
    color: #455a64;
    padding-bottom: 16px;
    max-width: 414px;
    line-height: 126%;
}

.promo__text {
    font-family: Poppins-Medium, serif;
    font-size: 17px;
    color: #535359;
    padding-bottom: 26px;
    max-width: 449px;
}

.promo__links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.promo__btn-link {
    color: #f3fcff;
    font-size: 14px;
    background: #455a64;
    border-radius: 6px;
    padding: 9px 25px;
    font-family: Poppins-Bold, serif;
}

.promo__btn-link:hover {
    color: #455a64;
    background: #fe9563;
}

.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins-Bold, serif;
    font-size: 14px;
    line-height: 147%;
    border-radius: 8px;
}

.promo__link-text {
    font-family: Poppins-Bold, serif;
}

.promo__link {
    font-size: 14px;
    line-height: 147%;
    color: #455a64;
    display: flex;
    align-items: center;
    gap: 6px;
}

.promo__link:hover {
    color: #fe9563;
}

.promo__info {
    font-size: 12px;
    line-height: 147%;
    color: #455a64;
    display: flex;
}

.promo__info-item {
    font-family: Poppins-Bold, serif;
}

.promo__info-item:not(:first-child)::before {
    content: "";
    border-left: 2px solid #fe9c69;
    margin: 0 6px;
}

.features {
    padding-top: 88px;
    padding-bottom: 115px;
    max-width: 1215px;
    width: 100%;
}

@media (max-width: 768px) {
    .features {
        padding-top: 0;
        padding-bottom: 50px;
    }
}

.container {
    max-width: 1246px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}

.cards {
    display: flex;
    gap: 62px;
}

@media (max-width: 1400px) {
    .cards {
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.card {
    width: 363px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 43px;
    border-radius: 44px;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
    box-shadow: 5px 5px 13px 0 #dd8762;
}

@media (max-width: 1024px) {
    .card {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

.card__img-box {
    width: 76px;
    height: 76px;
    background-color: #fe9c69;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img-box--rounded {
    border-radius: 10px;
}

.card__title {
    font-family: Roboto-Bold, serif;
    font-size: 18px;
    line-height: 147%;
    color: #37474f;
    padding-bottom: 10px;
    padding-top: 15px;
}

.card__text {
    font-family: Poppins-Medium, serif;
    font-size: 17px;
    line-height: 147%;
    color: #535359;
    max-width: 290px;
    text-align: center;
}

.share {
    margin-bottom: 115px;
}

@media (max-width: 576px) {
    .share {
        margin-bottom: 50px;
    }
}

.share__wrap {
    display: flex;
    align-items: center;
    gap: 96px;
}

@media (max-width: 768px) {
    .share__wrap {
        flex-direction: column;
    }
}

.share__img {
    max-width: 514px;
}

.share__content {
    max-width: 457px;
}

.share__title {
    color: #455A64;
    font-size: 42px;
    font-family: Poppins-Bold, serif;
    padding-bottom: 16px;
    line-height: 126%;
}

.share__text {
    font-family: Poppins-Medium, serif;
    color: #535359;
    font-size: 17px;
    line-height: 148%;
}

.function {
    max-width: 1213px;
    margin-bottom: 141px;
}

@media (max-width: 576px) {
    .function {
        margin-bottom: 50px;
    }
}

.function__wrap {
    display: flex;
    align-items: center;
    gap: 136px;
    border-radius: 48px;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
    box-shadow: 6px 6px 29px 0 #dd8762;
    padding: 134px 91px 179px;
}

@media (max-width: 1400px) {
    .function__wrap {
        padding: 30px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .function__wrap {
        flex-direction: column-reverse;
    }
}

.function__content {
    max-width: 386px;
    display: grid;
    grid-template-columns: 57px auto;
    column-gap: 17px;
    row-gap: 21px;
}

.function__img-box {
    flex-basis: 57px;
    height: 57px;
    background-color: #fe9563;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.function__caption {
    flex-basis: calc(100% - 57px);
}

.function__title {
    font-family: Poppins-Bold, serif;
    font-size: 17px;
    line-height: 148%;
    color: #37474f;
}

.function__text {
    font-family: Poppins-Medium, serif;
    font-size: 16px;
    line-height: 148%;
    color: #535359;
}

@media (max-width: 1024px) {
    .function__text {
        font-size: 15px;
    }
}

.security {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 115px;
}

@media (max-width: 576px) {
    .security {
        padding-bottom: 50px;
    }
}

.security__title {
    color: #000000;
    padding-bottom: 15px;
}

.security__subtitle {
    font-family: Roboto-Medium, serif;
    font-size: 18px;
    color: #393939;
    line-height: 148%;
    max-width: 601px;
    padding-bottom: 100px;
    margin: 0 auto
}

.security__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 167px
}

@media (max-width: 1400px) {
    .security__wrap {
        gap: 80px
    }
}

@media (max-width: 768px) {
    .security__wrap {
        flex-direction: column
    }
}

.security__content {
    flex-basis: 469px;
    text-align: left
}

@media (max-width: 768px) {
    .security__content {
        flex-basis: 100%
    }
}

.security__content-title {
    font-family: Poppins-Bold, serif;
    font-size: 19px;
    line-height: 148%;
    color: #000000;
    padding-bottom: 15px;
    letter-spacing: 0.3px;
}

.security__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 42px
}

.security__text {
    font-family: Poppins-Medium, serif;
    color: #393939;
    font-size: 14px;
    line-height: 148%;
    letter-spacing: 0.3px;
}

.automation {
    padding-bottom: 147px;
    max-width: 1213px
}

@media (max-width: 576px) {
    .automation {
        padding-bottom: 70px
    }
}

.automation__wrap {
    border-radius: 48px;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
    box-shadow: 6px 6px 29px 0 #dd8762;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 116px;
    padding-bottom: 147px;
    gap: 60px;
}

@media (max-width: 1400px) {
    .automation__wrap {
        padding: 88px
    }
}

@media (max-width: 768px) {
    .automation__wrap {
        flex-direction: column-reverse
    }
}

.automation__content {
    flex-basis: 459px
}

@media (max-width: 768px) {
    .automation__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}

.automation__title {
    padding-bottom: 15px;
    color: #000000
}

.automation__text {
    font-family: Roboto-Medium, serif;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0.3px;
    color: #393939;
    padding-bottom: 19px;
    max-width: 395px;
}

.automation__info-box {
    background: #FFFFFF;
    box-shadow: 0 9px 17px 0 rgba(0, 0, 0, .09);
    width: 299px;
    gap: 17px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 13px 18px 16px 16px;
    margin-bottom: 23px;
}

.automation__icon-box {
    width: 33px;
    height: 33px;
    background: #fe9563;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.automation__info {
    display: flex;
    flex-direction: column
}

.automation__info-title {
    font-family: Roboto-Bold, serif;
    font-size: 15px;
    line-height: 153%;
    color: #000000
}

.automation__info-text {
    font-family: Roboto-Medium, serif;
    font-size: 14px;
    line-height: 153%;
    color: #000000
}

.command {
    width: 100%;
    padding-bottom: 80px
}

@media (max-width: 1024px) {
    .command {
        padding-bottom: 40px;
        max-width: 780px;
    }
}

.command__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 114px
}

@media (max-width: 1024px) {
    .command__wrap {
        flex-direction: column
    }
}

.command__img-wrap {
    height: 544px
}

@media (max-width: 576px) {
    .command__img-wrap {
        height: 100%
    }
}

.command__figure {
    width: 544px;
    height: 273px;
    position: relative;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    background: radial-gradient(50% 50% at 50% 50%, #f3fcff 0, #f3fcff .01%, #fe9563 100%)
}

@media (max-width: 576px) {
    .command__figure {
        width: 420px;
        height: 250px
    }
}

.command__img {
    position: absolute
}

@media (max-width: 576px) {
    .command__img {
        width: 150px
    }
}

.command__img_position_left {
    top: 150px;
    left: 45px
}

@media (max-width: 576px) {
    .command__img_position_left {
        top: 95px;
        left: 42px
    }
}

.command__img_position_right {
    top: 100px;
    left: 255px
}

@media (max-width: 576px) {
    .command__img_position_right {
        top: 30px;
        left: 180px
    }
}

.command__content {
    flex-basis: 460px
}

@media (max-width: 1024px) {
    .command__content {
        flex-basis: 100%
    }
}

@media (max-width: 576px) {
    .command__content {
        padding-top: 100px
    }
}

.command__title {
    color: #353642;
    padding-bottom: 15px
}

.command__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.command__text {
    font-family: Roboto-Medium, serif;
    font-size: 17px;
    line-height: 148%;
    color: #393939
}

.command__links-wrap {
    padding-top: 36px;
    display: flex;
    gap: 10px
}

.command__btn-link {
    color: #F3FCFF;
    font-size: 14px;
    background: #FE9868;
    border-radius: 6px;
    padding: 9px 25px;
    font-family: Roboto-Bold, serif;
}

.command__btn-link:hover {
    color: #455a64;
    background: #fe9563;
    font-family: Roboto-Bold, serif;
}

.command__links-wrap .main__btn:hover {
    border: 4px solid #fe9563;
    background: #fe9563;
    color: #455a64;
}

.reason {
    width: 100%;
    padding-bottom: 86px;
    padding-top: 79px
}

@media (max-width: 576px) {
    .reason {
        padding-bottom: 43px;
        padding-top: 40px
    }
}

.reason__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.reason__title {
    padding-bottom: 15px
}

.reason__subtitle {
    font-family: Roboto-Medium, serif;
    font-size: 17px;
    line-height: 148%;
    color: #393939;
    letter-spacing: 0.3px;
    max-width: 601px;
    padding-bottom: 74px
}

.people {
    padding-bottom: 103px;
    max-width: 1246px
}

@media (max-width: 576px) {
    .people {
        padding-bottom: 50px
    }
}

.people__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    background: linear-gradient(102deg, #f7e6cb 0, #f5f2eb 100%);
    box-shadow: 6px 6px 29px 0 #dd8762;
    padding: 72px 131px 71px 103px;
    gap: 122px;
}

@media (max-width: 1400px) {
    .people__wrap {
        padding-left: 35px;
        padding-right: 35px;
        width: 100%
    }
}

@media (max-width: 1024px) {
    .people__wrap {
        gap: 100px
    }
}

@media (max-width: 768px) {
    .people__wrap {
        gap: 30px;
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.people__content {
    flex-basis: 459px
}

@media (max-width: 1024px) {
    .people__content {
        flex-basis: 100%
    }
}

.people__title {
    font-family: Poppins-Bold, serif;
    font-size: 38px;
    line-height: 126%;
    color: #424242;
    padding-bottom: 18px
}

.people__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 13px
}

.people__text {
    font-family: Poppins-Medium, serif;
    font-size: 17px;
    color: #424242;
    line-height: 126%;
    letter-spacing: 0.3px
}

@media (max-width: 576px) {
    .people__text {
        font-size: 14px
    }
}

.people__img {
    flex-basis: 600px
}

@media (max-width: 1024px) {
    .people__img {
        flex-basis: 100%
    }
}

.life {
    padding-bottom: 151px
}

.life__wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center
}

.life__title {
    color: #000000;
    padding-bottom: 16px;
    letter-spacing: 0.1px;
}

.life__subtitle {
    font-family: Roboto-Medium, serif;
    color: #393939;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0.3px;
    align-self: center;
    max-width: 625px;
    padding-bottom: 25px
}

.life__info-item {
    font-family: Roboto-Bold, serif;
    font-size: 13px;
    line-height: 146%;
    color: #000000
}

.life__info-item:not(:first-child)::before {
    content: "";
    border-left: 2px solid #000000;
    margin: 0 7px
}

.life__info {
    padding-top: 25px;
    display: flex
}

.life__link {
    padding: 10px 31px 12px;
    border-radius: 8px;
    background: #FE9563;
    color: #FFFFFF;
    font-family: Roboto-Bold, serif;
    font-size: 14px;
    line-height: 146%
}

.life__link:hover {
    color: #455a64;
}

